.category_detail {
    .row {
        margin-bottom: 25px;
        .button_warp {
            margin-top: 28px;
        }
    }
    .category_grid {
        max-width: 600px;
        table {
            thead {
                th {
                    &:nth-child(1),
                    &:nth-child(3) {
                        text-align: center;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        &:nth-child(1),
                        &:nth-child(3) {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}