.heading_wrap {
    a {
        color: black;
        text-decoration: none;
    }
    i {
        font-size: 25px;
        font-weight: bold;
        margin-right: 15px;
    }
}

.product_detail {
    .product_info {
        margin-bottom: 15px;
        select {
            height: 35px;
            width: 100%;
            padding: 4px 10px;
            border: #f4f5f7;
            background: #f4f5f7;
            border-radius: 5px;
        }
    }
    .button_warp {
        margin-top: 27px;
        button {
            width: 100px;
        }
    }
}
