// .header_wrap {
//     margin: 20px 0px 22px;
// }

.sidebar-brand {
    background: #121618;
}

.footer {
    font-size: 14px;
    border: transparent;
    background: transparent;
}


.card_details {
    label {
        font-size: 15px;
        font-weight: 500;
        color: #4b5460;
        margin-bottom: 4px;
    }
    input {
        color: #334257;
        height: 35px;
        width: 100%;
        padding: 6px 14px;
        border-radius: 0.3125rem;
        padding-inline: 15px !important;
    }
}

.button_warp {
    button {
        width: 100px;
        padding: 6px 15px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: .3px;
        border: 1px solid;
        border-radius: 5px;
        text-transform: capitalize;
        margin-right: 15px;
        &:last-child {
            margin-right: 0px;
        }
    }
    .reset_wrap {
        background: #f4f5f7;
        border-color: #f4f5f7;   
    }
    .submit_warp {
        background: #fac564;
        border-color: #fac564;
    }
}

.sidebar {
    --cui-sidebar-bg: #121618ed;
}
.sidebar-nav .nav-link {
    color: white;
}
.sidebar-nav .nav-icon {
    color: white;
}

.sidebar-nav .nav-link.active {
    color: #000000;
    font-weight: 500;
    background: #fac564;
}
.sidebar-nav .nav-link.active .nav-icon {
    color: black;
}