// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import "layout";

// If you want to add custom CSS you can put it here.
@import "custom";

@import "bootstrap/dist/css/bootstrap.min.css";

// .k-grid {
//     .k-grid-aria-root { 
//         div {
//             &:nth-child(3) {
//                 display: none;
//             }
//         }
//     }
// }

.error {
    color: red;
    margin: 0;
    font-size: 13px;
}


.main_card {
    margin-top: 20px;
    box-shadow: rgb(216 217 220) 0px 5px 52px;
    .heading_wrap {
        h5 {
            margin: 0;
            color: black;
            padding: 12px 20px;
            background: #fac564;
        }
    }
    .card_details {
        padding: 28px 25px;
    }
}

// Table Css Start

.table {
    --bs-table-border-color: #fac564 !important;
    thead {
        tr {
            th {
                color: #000000;
                font-size: 15px;
                font-weight: 500;
                background: #ffe6b8;
            }
        }
    }
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-bg-type: white !important;
}

.table-striped>tbody>tr:nth-of-type(even)>* {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: rgb(255 230 184 / 25%) ;
}
.table-hover>tbody>tr:hover>* {
    --bs-table-bg-state: rgb(255 230 184 / 25%) !important;
}
.table>:not(caption)>*>* {
    padding: 10px 15px !important;
}

// Table Css End

.icon_wrap {
    button {
        border-radius: 5px;
        background: transparent;
        margin-right: 10px;
        &:last-child {
            margin-right: 0px;
        }
        &.edit {
            color: #0177cd;
            border: 1px solid #0177cd;
            &:hover {
                color: #ffffff;
                background: #0177cd;
            }
        }
        &.delete {
            color: #ff6d6d;
            border: 1px solid #ff6d6d;
            &:hover {
                color: #ffffff;
                background: #ff6d6d;
            }
        }
    }
}